.userInfo {
  width: 438px;
  height: 463px;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
}

.btnEditPosition {
  position: absolute;
  top: -50px;
  right: 0;
}

.btnSavePosition {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 6px 20px 12px;

  label {
    font-size: 8px;
    line-height: 9px;
    margin-bottom: 3px;
  }

  input {
    width: 211px;
    height: 22px;
    margin-bottom: 10px;
  }

  textarea {
    height: 55px;
    resize: none;
  }

  input, textarea {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.3);
  }

  .eddit {
    color: black;
  }

  .error {
    border: 1px solid red;
  }
  
}