$background-color: #FFFFFF;

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}


